.gem {
    float: right;
    width: 100%;
    height: auto;
}
header, footer {
    background-color: #4785C2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
header, nav, main, footer {
    max-width: 767 px;
    margin: 0 auto;
}
h1 {
    font-size: 2rem;
    color: #140800;
}
h2, p {
    color: #ffffff;
    font-family: 'Lora', serif;
}
nav {
    text-align: center;
    background-color: black;
    box-shadow: 0 2px 15px grey;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
}