
    <img src="../images/apple.png" data-src="https://via.placeholder.com/300x400.png" alt="picture">
   <img src="../images/colors.png" data-src="https://via.placeholder.com/300x400.png" alt="picture">
    <img src="../images/gem.png.png" data-src="https://via.placeholder.com/300x400.png" alt="picture">
    <img src="../images/correctxbox.png" data-src="https://via.placeholder.com/300x400.png" alt="picture">
    <img src="../images/rsz_j.jpg" data-src="https://via.placeholder.com/300x400.png" alt="picture">
    <img src="../images/kia.png" data-src="https://via.placeholder.com/300x400.png" alt="picture">

{"employees":[
  { "firstName":"John", "lastName":"Doe" },
  { "firstName":"Anna", "lastName":"Smith" },
  { "firstName":"Peter", "lastName":"Jones" }
]}

API Key: 45ac9e23784f02f53e40744e91fc810e
Default


https://joshbrereton.github.io/WDD230/lesson8/JSON%20vs%20XML%20presentation/zoom_0.mp4
<employees>
  <employee>
    <firstName>John</firstName> <lastName>Doe</lastName>
  </employee>
  <employee>
    <firstName>Anna</firstName> <lastName>Smith</lastName>
  </employee>
  <employee>
    <firstName>Peter</firstName> <lastName>Jones</lastName>
  </employee>
</employees>

A string literal is zero or more characters enclosed in double (“) or single (') quotation marks. (String Literals) An object literal is a list of zero or more pairs of property names and associated values of an object, enclosed in curly braces ({}).

<?xml-stylesheet type="text/xsl" href="transform.xsl"?>


<?xml version="1.0" encoding="UTF-8"?>

<?xml version="1.0" encoding="UTF-8"?>
<message>
    <warning>
         Hello World
    </warning>
</message>

400 x 194- Small
800- Medium
1000- Large

body {
	text-align: center;
}
header,
footer {
	background-color: #000;
	color: #fff;
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
}

h2, #currentdate {
	color: red;
}

main {
	margin: 10px auto;
	border: 1px solid #999;
	padding: 10px;
	max-width: 500px;
	background-color: #abe;
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	padding: 0;
}

label {
	display: block;
	margin: 5px;
}

