body, h1, main, figure {
    margin: 0 auto;
    max-width: 980px;
}
nav {
    max-width: 760px;
    background-color: #140800;
}
.navigation {
    list-style: none;
    padding: 0px;
}
.navigation li {
    text-align: center;
}
.navigation a:hover {
    color: white;
    background-color: blue;
}
.navigation a:active {
 background-color: darkorchid;
}
.navigation a:focus {
    background-color: darkorchid;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: .75rem;
    color: yellow;
    font-weight: 700px;
    text-align: left;
    text-decoration: none;
}
.responsive li {
    display: block;
}
header, footer, .love{
    background-color: #4785C2;
    padding: 10px;
}
h1 {
    font-size: 1.5rem;
    color: #140800;
}
h2 {
    font-size: 1rem;
}
h2, p {
    color: #140800;
    font-family: 'Lora', serif;
}
.gem {
    height: 65px;
    width: 65px;
    float: left;
    margin-right: 10px;
}
.sun {
    height: 200px;
width: 750px;
text-align: center;
}
.map {
    height: 250px;
width: 300px;
text-align: left;
}
aside {
    display: none;
}
main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    text-align: center;
}
header {
    max-width: 760px;
    text-align: center;
    margin: auto;
}
header {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.r {
    font-style: italic;
    font-weight: 700px;
}
#lastupdate {
    color: yellow;
}
.herodiv .centered img {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    width: 100%;
    display: block;
}
.happy {
    margin-top: 10px;
    border: 1px solid gray;
}
.mid {
    display: flex;
    align-content: center;
    text-align: center;
}
.sunny {
    border: 3px solid black;
    padding: 25px;
    background-color: #4785C2;
    margin: 0 5px;
}
 .wow1 {
     border: .8px solid #999;
     background-color: lightgreen;
     margin: 0 auto;
 }
 .cover {
     display: flex;
 }
 .dayofweek {
     border: 3px solid black;
    padding: 25px;
    background-color: #4785C2;
    margin: 0 5px
 }
 .container {
      border: .8px solid #999;
     background-color: lightgreen;
     margin: 0 auto
 }
.friday {
     padding: 2px 2px 2px 2px;
    border: 2px solid black;
    padding: 25px;
    margin: 0 5px;
}
.saturday {
     padding: 2px 2px 2px 2px;
    border: 2px solid black;
    padding: 25px;
    margin: 0 5px;
}
.sunday {
     padding: 2px 2px 2px 2px;
    border: 2px solid black;
    padding: 25px;
    margin: 0 5px;
}
.love {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.run {
    grid-row: 1;
    grid-column: 2/3;
}
.connect {
    grid-row: 1;
    grid-column: 1;
}
.social {
    grid-row: 2;
}
.navigation a:active {
 background-color: darkorchid;
}
.navigation a:focus {
    background-color: darkorchid;
}
.love[data-src] {
    filter: blur(.2em);
}
.love {
    filter: blur(0em);
    transition: filter 0.5s;
}
.wrap {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.love {
    margin: 0 auto;
}
.happy {
    border: 5px solid rgb(112, 110, 110);
    background-color: lightgreen;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
/* --------------------Form------------------*/
form fieldset {
    margin: 20px 0;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 5px 2%;
}
form legend {
    color: blue;
    margin: 0 5px;
    padding: 0 2px;
}
form label {
    text-align: left;
}
form label.top, form div {
    display: block;
    padding-top: 5px;
    color: red;
    font-size: 14px;
}
form label.roll {
    display: block;
    padding-top: 5px;
    color: red;
    font-size: 14px;
    margin: 20px 0;
}
form label.top input, form label.top select {
    display: block;
    font-size: 16px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
img.smart {
    margin-top: 10px;
}