h1, body {
    margin: 0 auto;
}
picture {
    display: grid;
    grid-template-columns: 1fr;
}
body {
    max-width: 980px;
    text-align: center;
}
img {
    width: 400px;
    margin-top: 10px;
}
picture img[data-src] {
    filter: blur(.2em);
}
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}